body
{
	padding: 0;
	margin: 0;
	background: #c1d7fe;
	position: relative;
}

nav
{
	background: #fec6f4;
	display: inline-block;
	width: 15%;
	height: 100%;
	position: relative;
	margin-top: 1%;
	margin-right: 1%;
}

nav ul
{
	padding: 10px;
	border-radius: 0.2em;
}

nav li
{
	list-style-type: none;
	border-radius: 0.2em;
}

nav li:hover
{
	background: #ff6eb9;
}

nav a
{
	text-decoration: none;
	color: #830c34;
	outline: 0;
	display: block;
}

h1
{
	text-align: center;
	line-height: 150px;
	background: url("imgs/Printemps.jpg");
        background-attachment:fixed;
	background-size: 100%;
        margin: 0;
        padding: 0;
	height: 150px;
	font-size: 4em;
	color: #830c34;
}

#accueil
{
	text-decoration: none;
	color: #830c34;
	padding: 5px;
	display: block;
}

#accueil:hover
{
	color:black;
	transition: color 1s;
}

#blog
{
	position: absolute;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 2%;
	background: #fcfef3;
	padding: 1%;
	display: inline-block;
	width: 81%;
}

#blog h2
{

}

#topLink
{
	position: fixed;
	right: 20px;
	top: 30px;
	padding: 20px;
	opacity: 0.9;
	border-radius: 0.5em;
	display: none;
	outline: 0;
}

#topLink:hover
{
	background: #fec6f4;
}

#imgUp
{
	width: 30px;
	height: 30px;
	display: inline-block;
}

.dir
{
	display: none;
}
